<div class="login-container">
  <div class="login-card">
    <h2>Masuk ke StayHub</h2>
    <p class="subtitle">
      Kelola reservasi dan nikmati kemudahan booking lodging Anda
    </p>

    <div *ngIf="errorMessage" class="alert-error">
      {{ errorMessage }}
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="user@email.com"
          [class.invalid]="
            loginForm.get('email')?.invalid && loginForm.get('email')?.touched
          "
        />
        <small
          *ngIf="
            loginForm.get('email')?.invalid && loginForm.get('email')?.touched
          "
          class="error-text"
        >
          <span *ngIf="loginForm.get('email')?.errors?.['required']"
            >Email wajib diisi.</span
          >
          <span *ngIf="loginForm.get('email')?.errors?.['email']"
            >Format email tidak valid.</span
          >
        </small>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <div class="">
          <input
            id="password"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            placeholder="Minimal 6 karakter"
            [class.invalid]="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
            "
          />
          <input 
            id="password"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            placeholder=""

          />

          
        </div>
        <small
          *ngIf="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
          "
          class="error-text"
        >
          <span *ngIf="loginForm.get('password')?.errors?.['required']"
            >Password wajib diisi.</span
          >
          <span *ngIf="loginForm.get('password')?.errors?.['minlength']"
            >Password minimal 6 karakter.</span
          >
        </small>
      </div>

      <button type="submit" class="btn-submit" [disabled]="isLoading">
        <span *ngIf="isLoading">Memproses...</span>
        <span *ngIf="!isLoading">Login</span>
      </button>
    </form>
  </div>
</div>
